.quarter, .month {
  width: 50px;
}

.add_row {
  margin-bottom: 50px;
  width: 80px;
}

.quarter {
  background: transparent !important;
  border: none !important;
  outline: none;
}

.odd, .even {
  background: #C0C0C0 !important;
}
